body {
  background-color: #161b22;
}

.footer-div{
  display:flex;
  align-content: flex-start;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.rights{
  color: #e6edf3;
}

a {
  color: #1f6feb;
}

.content-div{
  display:flex;
}

.profile-div{
  display: flex;
  width: 20%;
  flex-flow: column;
  margin: 100px;
  color:#e6edf3;
  border: #e6edf3 solid 1px;
  padding: 20px;
}

.teammate-task{
  display: flex;
  width: 80%;
  margin: 100px;
  border: #e6edf3 solid 1px;
  padding: 20px;
}
